lxml
pandas
matplotlib
scikit-learn
tables
xlrd
openpyxl
pyarrow
seaborn
tqdm
requests
biopython
h5py
hdf5plugin
psims
black
coverage-badge
pytest
numpy==1.19.5
scikit-learn==0.23.2
scipy<=1.5.4
alembic<=1.4.1
typing-extensions<4
markupsafe~=2.0.1
typing-extensions<5.0
graphviz
joblib~=1.0.1
pyLDAvis
